<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="appUrl" value="https://www.epam.com/" />
		<Parameter name ="runHeadlessMode" value="false" />
		<Parameter name="browser" value="chrome" />
		<Parameter name="downloadDirectory" value="SeleniumDownloads" />
		<Parameter name="screenshotDirectory" value="SeleniumScreenshots" />
		<Parameter name="logDirectory" value="SeleniumLogs" />
		<Parameter name="logLevel" value="Information" />
	</TestRunParameters>
</RunSettings>

